.open-menu-button {
  width: 50%;
  background-color: #124e66;
  border: none;
  margin-top: 15%;
  border-radius: 20px;
}

.open-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-menu-icon {
  font-size: xx-large;
  color: #d3d9d4;
  margin-top: 6%;
  margin-bottom: 5%;
}

/*close button*/

.close-menu-button,
.home-menu-button,
.settings-menu-button,
.daily-menu-button,
.goal-menu-button {
  width: 50%;
  background-color: #124e66;
  border: none;
}

.close-button-container,
.home-button-container,
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.close-menu-button {
  margin-top: 10%;
}

.settings-menu-button {
  margin-bottom: 10%;
}

.close-menu-button:hover,
.goal-menu-button:focus {
  color: #ff5151;
  font-size: xx-large;
}

.settings-menu-button,
.close-menu-button,
.daily-menu-button,
.goal-menu-button,
.home-menu-button {
  color: #d3d9d4;
  font-size: xx-large;
  transition: color 0.5s ease;
}

.settings-menu-button:hover,
.settings-menu-button:focus {
  color: #ff7f50;
  font-size: xx-large;
}

.daily-menu-button:hover,
.daily-menu-button:focus {
  color: #f9f777;
}

.goal-menu-button:hover,
.goal-menu-button:focus {
  color: #95bf44;
}

.home-menu-button:hover,
.home-menu-button:focus {
  color: #f091e4;
}

.tooltip-inner {
  background-color: #d3d9d4;
  color: black;
}
