.open-menu-button {
  width: 50%;
  background-color: #124e66;
  border: none;
  margin-top: 15%;
  border-radius: 20px;
}

.open-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-menu-icon {
  font-size: xx-large;
  color: #d3d9d4;
  margin-top: 6%;
  margin-bottom: 5%;
}

/*close button*/

.close-menu-button,
.home-menu-button,
.settings-menu-button {
  width: 50%;
  background-color: #124e66;
  border: none;
}

.close-button-container,
.home-button-container,
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-menu-icon,
.home-menu-icon,
.settings-menu-icon {
  font-size: xx-large;
  color: #d3d9d4;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.close-menu-button {
  margin-top: 10%;
}

.settings-menu-button {
  margin-bottom: 10%;
}
