.daily-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5%;
  color: white;
};

.daily-button-test{
  background-color: red;
}



.dropdown-button{
  margin-top: 10%;
};


.caption-for-daily{
  text-decoration: underline;
}


.daily-input{
  width: 10%;
  height: 2.5em;
  margin-bottom: 1%;
  border-radius: 10px;
}

.daily-note-input{
  width: 40%;
  margin-bottom: 1%;
}

.daily-note-input{
  border-radius: 10px;
}


#daily-drop{
  color: black;
  background-color: #d3d9d4;
  border: none;
  width: 33%;
}
