.daily-form-container{
  margin-top: 1.5%;
  color: black;
  background-color: #748D92;
  width: 66%;
  font-size: 18px;
  border-radius: 20px;
};

.daily-button-test{
  background-color: red;
}



.dropdown-button{
  margin-top: 10%;
};


.caption-for-daily{
  text-decoration: underline;
  font-size: 24px;
}


.daily-input{
  width: 70%;
  height: 2.5em;
  margin-bottom: 1%;
  border-radius: 10px;
}

.daily-note-input{
  width: 70%;
  margin-bottom: 1%;
  height: 90%;
  font-size: 16px;
}

.daily-note-input{
  border-radius: 10px;
}


#daily-drop{
  color: white;
  font-size: 24px;
  background-color: transparent;
  border: none;
  width: 33%;
}

.daily-submit-button{
  margin-top: 2%;
  margin-bottom: 2%;
}



.daily-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 1.2%;
}

.daily-title {
  color: #d3d9d4;
  font-family: Poppins, sans-serif;
}


