/*
main background color - #212A31
gray highlights - #2E3944
nice blue - 124E66
grey blue - #748D92
nice white grey(text) - D3D9D4
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.main-content-container {
  height: 100vh;
}

.tracker-home-title {
  color: #d3d9d4;
  margin-top: 1%;
  font-family: Poppins, sans-serif;
}

.tracker-home-title {
  color: #d3d9d4;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.year-month-caption {
  color: #d3d9d4;
  font-family: Poppins, sans-serif;
}

.tracker-home-info-container {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.tracker-home-goal-card {
  background-color: #748d92;
  color: #d3d9d4;
}

.money-goals-card {
  background-color: #748d92;
  color: #d3d9d4;
}

.last-money-card {
  margin-right: 1%;
}

.settings-button {
  background-color: #748d92;
  color: #d3d9d4;
  font-size: xx-large;
  width: 33%;
  border: none;
  margin-top: 2%;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.settings-button:hover {
  background-color: #d3d9d4;
  color: #748d92;
  width: 33%;
  border: none;
  margin-top: 2%;
}

.goal-caption-title {
  font-weight: 700;
}
