/*
main background color - #212A31
gray highlights - #2E3944
nice blue - 124E66
grey blue - #748D92
nice white grey(text) - D3D9D4
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.tracker-card {
  background-color: #748d92;
}

.tracker-card-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.tracker-card-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tracker-title-container {
  margin-left: 1%;
}

.year-or-month {
  text-align: left;
}

.enter-tracker-view-button {
  background-color: #748d92;
  border: none;
}

.enter-tracker-view-icon {
  color: #124e66;
  font-size: xx-large;
  transition: color 0.3s ease;
}

.enter-tracker-view-icon:hover {
  color: #d3d9d4;
}

.enter-tracker-view-container {
  margin-right: 1%;
}

.list-container {
  margin-top: 1.5%;
}

.add-tracker-inner-container {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-tracker-icon {
  font-size: x-large;
}

.add-tracker-button {
  height: 100%;
  width: 99.5%;
  background-color: #212a31;
  border: none;
  color: #748d92;
  transition: color .3s ease;
}

.add-tracker-button:hover{
  color: #ffffff;
}

.add-tracker-card {
  background-color: #212a31;
  border: 2px solid #748d92;
  transition: border .3s ease;
}

.add-tracker-card:hover{
  color:#ffffff;
  border: 2px solid #ffffff;
}

.modal-content {
  background-color: #748d92;
  color: black;
  font-family: Poppins, sans-serif;
}

.create-tracker-close-button {
  background-color: #748d92;
  border: none;
  color: #d3d9d4;
  font-size: x-large;
  transition: color 0.3s ease;
  margin-right: 1%;
}

.create-tracker-close-button:hover {
  background-color: #748d92;
  border: none;
  color: #dc3545;
  font-size: x-large;
  margin-right: 1%;
}

.create-modal-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create-tracker-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-tracker-explanation-text {
  text-align: center;
}

.create-tracker-text-input {
  margin-top: 1%;
}

.bottom-input {
  margin-bottom: 1%;
}

.create-tracker-input-title {
  margin-top: 1%;
}

.form-section {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-section {
  margin-bottom: 2%;
}

.create-tracker-text-input {
  width: 70%;
  border-radius: 10px;
  height: 40px;
}

.name-section {
  width: 100%;
}

.create-tracker-submit-button {
  background-color: #124e66;
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.create-tracker-submit-button:hover {
  background-color: #124e66;
  border: none;
  opacity: 0.8;
}

.add-tracker-card {
  margin-bottom: 1%;
}

.tracker-card {
  margin-bottom: 1%;
}
