@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-card {
  width: 30%;
  height: auto;
  background-color: #748d92;
}

.password-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  background-color: #d3d9d4;
  width: 80%;
}

.login-title {
  font-size: x-large;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-top: 2%;
}

.login-input-title {
  font-size: large;
  font-family: Poppins, sans-serif;
}

.login-submit-button {
  background-color: #d3d9d4;
  border: none;
  color: black;
  margin-top: 6%;
  width: 50%;
}

.register-button{
  margin-top: 0;
  margin-bottom: 2%;
}

.no-account-message{
  margin-top: 6%;
}

.registration-buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button{
  margin-top: 2%;
  margin-bottom: 2%;
}
