/*
main background color - #212A31
gray highlights - #2E3944
nice blue - 124E66
grey blue - #748D92
nice white grey(text) - D3D9D4
*/

.drop-down-title {
  color: #d3d9d4;
  font-family: Poppins, sans-serif;
}

.goals-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 1.2%;
}

.goals-title {
  color: #d3d9d4;
  font-family: Poppins, sans-serif;
}

.tracker-selector-outer-container {
  margin-top: 1.5%;
}

#drop-down-main {
  color: black;
  background-color: #d3d9d4;
  border: none;
  width: 33%;
}

.goals-page-card {
  background-color: #d3d9d4;
  color: black;
}

.goals-page-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goal-card-row {
  margin-top: 2%;
  margin-left: 0.5%;
}

.goal-card-button {
  background-color: #d3d9d4;
  color: #124e66;
  opacity: 0.7;
  font-size: xx-large;
  border: none;
  transition: opacity 0.3s ease;
}

.goal-card-button:hover {
  background-color: #d3d9d4;
  color: #124e66;
  opacity: 1;
  font-size: xx-large;
  border: none;
}

.add-goal-button{
  width: 50%;
  font-size: x-large;
  margin-bottom: 1%;
}
.add-button-container{
  align-items: center;
}

.modal-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.goal-message-input{
  width: 100%
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
